@import "tailwindcss";
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
.bgc1{
  background-color: #d8cfc9;
}
.bgc2{
  background-color: #3D4D55;
}
.bgc3{
  background-color: #A79E9C;
}
.bgn{
  background-color: #10232A;
}
.bgcc{
  background-image: url('/texturebg2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.txtc1{
  color:#10232A
}
.txtc2{
  color:#A79E9C
}
.txtn{
  color:#d8cfc9
}
.txtc3{
  color:#d8cfc9
}


/* .bgc1{
  background-color: #161B30;
}
.bgc2{
  background-color: #394458;
}
.bgc3{
  background-color: #252F47;
}
.bgn{
  background-color: #394458;
}
.bgcc{
  background-color: #652037;
}
.txtc1{
  color:#652037
}
.txtc2{
  color:#252F47
}
.txtc3{

} */